*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}

main{
    flex-grow: 1;
    flex-wrap: wrap;
}

body{
    background-color: #E8EEF1;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    max-height: 15vh;
    align-items: center;
}

.logo{
    flex-grow: 2;
}

.cabecalho nav{
    flex-grow: 1;
    min-width: 640px;
}

.cabecalho nav ul{
    list-style: none;
    display: flex;
}

.cabecalho nav li{
    flex-grow: 1;
}

.cabecalho nav a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.cabecalho nav a:hover{
   color: #59d4d9;
  transition: 0.3s;

}

/* HOME: CONTEUDO DA SECTION */
.conteudo{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.texto{
    flex-grow: 1;
    margin: 5%; 
}

.img-home{
    flex-grow: 3;
}

.texto h1{
    font-size: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* FOOTER */

 footer{
    display: flex;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}

#leia_mais{
    flex-grow: 4;
    padding-left: 2%;
}

.chatbot{
    flex-grow: 1;
    background-color: #43B0F1;
    border-top-left-radius: 10px;
    min-height: 40px;
}

.chatbot p{
    color: #fff;
    text-align: start;
    font-size: 15px;
    padding-top: 2%;
    padding-left: 2%;
}





